<div ng-controller="tweetController as vm" class="tweet">
    <br \>
    <input id="searchText" class="form-control input-md rounded" ng-model="searchText" placeholder="Search Tweets" />
    <div class="media" ng-repeat="item in vm.tweetCollection | filter:searchText">
        <a class="media-left" href="#">
            <img class="media-object img-rounded" ng-src="{{item.ProfileImageUrl}}"/>
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{item.ScreenName}}</h4>
            <p>{{ item.Text }}</p>
            <p>{{ item.CreatedAt }}</p>
            <ul class="nav nav-pills nav-pills-custom">
                <li><a href="#"><span class="glyphicon glyphicon-share-alt"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-retweet">{{item.RetweetCount}}</span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-option-horizontal"></span></a></li>
            </ul>
        </div>
    </div>
</div>
